.index-body {
	text-align: center;
	margin-bottom: 80px;
}
.app-name {
	font-size: 48px;
}
.intro {
	margin-top: 60px;
}

.index-error {
	color: red;
	margin-top: 10px;
}
.index-section {
	margin-bottom: 30px;
}

@media screen and (min-width: 770px) {
	.app-name {
		font-size: 60px;
	}
	.intro {
		margin-top: 150px;
	}
}