.view-contacts-btns {
	clear: both;
	margin-top: 20px;
}
.delete-confirm {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #ededed;
	z-index: 1;
	padding: 50px;
}
.faded {
	opacity: .5;
}
.view-contact-container {
	position: absolute;
}
.edit-successful {
	
}

